spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:standalone.db

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect